body {
    display: flex;
    flex-direction: column;    
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.header, .info, .quote, .bottom {
    flex: 1;
    padding: 0 10rem;
}

/* header */
.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-main {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    flex: 3;
}

.info {
    background-color: white;
}

.quote {
    background-color: #E5E7EB;
}

.bottom {
    background-color: white;
}
