body {
    display: flex;
    flex-direction: column;    
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.header, .info, .quote, .bottom {
    flex: 1;
    padding: 0 10rem;
}

/* header */
.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-main {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    flex: 3;
    gap: 24px;
    margin-top: 24px;
}

.hero-content, .hero-img {
    flex: 1;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
    margin: 8px 0px 16px 0px; /* TRBL */ 
}

.signup {
    background-color: #3882F6;
    border: 0px;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px 24px;
}

.hero-img {
    background-color: #3882F6;
    margin-bottom: 24px;
    text-align: center;
}

.info {
    background-color: white;
}

.quote {
    background-color: #E5E7EB;
}

.bottom {
    background-color: white;
}
